.addMatch{
    padding: 10px 20px;
}
.matchTable th{
background-color: grey;
color: aliceblue;
}
.flexEvenly{
    display: flex;
    justify-content: space-evenly;
}
.flexEvenly svg:nth-child(1){
    color: blue;
    cursor: pointer;
}
.flexEvenly svg:nth-child(2){
    color: red;
    cursor: pointer;
}