/* for mobile */
@media (max-width: 767px) {
  .appCSS {
    padding:0px 4vw;
    margin-top: 15vh;
  }

  .formDiv {
    padding: 0px 10px;
  }
  .dreamHide{
    display: none;
  }
  .mainDiv{
    padding-top: 20vh;
  }
  .mainSignInDiv{
    padding-top: 20vh;
  }
  .matchCard {
    /* border: 1px solid #ddd; */
    margin: 12px 5px;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 97%;
  }
  .contestCard{
    margin: 12px 5px;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 98%;
  }
}

/* for laptops and PC */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
  .matchBody {
    display: flex;
    flex-flow: wrap ;
  }
}

@media only screen and (min-width: 1025px) {
  .matchBody {
    display: flex;
    justify-content: center;
    flex-flow: wrap ;
    padding: 0px 5vw;
  }
  .responsive {
    padding: 0px 15vw;
  }

  .formDiv {
    padding: 0px 1vw;
  }

  .mainDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
  }
  .mainSignInDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
  }

  .headTextCenter{
    padding-left: 13vw;
}
  
}