/* for mobile */
@media (max-width: 767px) {
  .appCSS {
    padding:0px 4vw;
    margin-top: 15vh;
  }

  .formDiv {
    padding: 0px 10px;
  }
  .dreamHide{
    display: none;
  }
  .mainDiv{
    padding-top: 20vh;
  }
  .mainSignInDiv{
    padding-top: 20vh;
  }
}

/* for laptops and PC */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
  .matchBody {
    display: flex;
  }
}

@media only screen and (min-width: 1025px) {
  .matchBody {
    display: flex;
    /* padding: 0px 15vw; */
  }
  .responsive {
    padding: 0px 15vw;
  }

  .formDiv {
    padding: 0px 1vw;
  }

  .mainDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
  }
  .mainSignInDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
  }

  .headTextCenter{
    padding-left: 13vw;
}
  
}