.row {
    display: flex;
    justify-content: space-between;
  }
  
  .row2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
  }
  
  .headerColor {
    background-color: blueviolet;
    color: white;
    overflow-x: hidden;
    position: sticky;
    top: 0;
  }
  
  .row2 div {
    color: #ddd;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .matchCardRow {
    padding: 3px 0px;
    background-color: aliceblue;
    padding-left: 10px;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
  }
  
  .matchCardRow1 {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0px 14px;
    width: 100%;
  }
  
  .hr {
    border: 1px solid #dddddd7a;
    margin: 0px;
  }
  
  .matchCardRow2 {
    padding: 3px 0px;
    padding-left: 10px;
    font-weight: bold;
    border: 1px solid #dddddd80;
    border-radius: 15px;
    margin: 3px 3px;
    color: orange;
  }
  
  .matchCard {
    /* border: 1px solid #ddd; */
    margin: 12px 5px;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
    width: 48%;
  }
  
  .imageIcon {
    width: 28%;
    border-radius: 50%;
  }
  
  .teamImage2 {
    justify-content: end;
  }
  
  .matchCardRow1 .col-4 .image {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .matchCardRow1 .col-4 .teamName2 {
    text-align: end;
  }
  
  .matchCardRow1 .col-4 .teamName1 {
    padding-left: 5px;
  }

  .dreamLogo{
    position: absolute;
    width: 40px;
    top: 7px;
    left: 10px;
    border-radius: 25px;
  }
  
  .headerText{
    position: absolute;
    /* top: 0px; */
    font-size: xx-large;
    font-family: emoji;
  }

  .headIcons{
    position: absolute;
    right: 21px;
    top: 14px;
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
.matchBody{
  width: 98%;
}